*
{
    padding: 0;
    margin: 0;
}

#intro
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50px);
}

#intro p
{
    text-align: center;
}

#abc
{
    display: grid;
    grid-template-columns: repeat(3, 33.3%); 
    grid-template-rows: repeat(1, 600px);
}

.letter-section
{
    display: grid;
    grid-template-columns: repeat(1, 100%); 
    grid-template-rows: repeat(3, 33.3%);
}

img
{
    grid-row: 1 / span 1;  
    height: 100%;
    width: 100%; 
    display: none;
}

button
{
    grid-row: 2 / span 1;   
}

.letter
{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #397dc6;
}

.hide-button
{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-color: #579feb;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.three-by-three-grid
{
    
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(3, 33.3%); 
    grid-template-rows: repeat(3, 33.3%);
}

.three-by-three-grid-2
{
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: repeat(3, 33.3%); 
    grid-template-rows: repeat(3, 33.3%);
}