*
{
    padding: 0;
    margin: 0;
}

#intro
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50px);
}

#intro p
{
    text-align: center;
}

#abc
{
    display: grid;
    grid-template-columns: repeat(3, 33.3%); 
    grid-template-rows: repeat(1, 600px);
}

.letter
{
    display: grid;
    grid-template-columns: repeat(1, 100%); 
    grid-template-rows: repeat(3, 33.3%);
}